/* common_general_rules */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #102f45;
}
/* /common_general_rules */

/* .container */
.container {
	display: flex;
	flex-direction: column;
}

#title {
	text-align: center;
	color: #fff;
	margin: 1rem 0;
}

.card {
	width: 500px;
	height: 500px;
	background-color: #fff;
	margin: 0.5rem auto;
	padding: 1rem;
}

.card_header {
	display: flex;
	flex-direction: row;
}

.card_header > img {
	width: 15%;
	border-radius: 50%;
	margin: 1rem;
	vertical-align: middle;
}

.card_text {
	margin-top: 2rem;
}

.main > img {
	height: 250px;
	margin: auto;
	width: 100%;
}

.main p {
	margin: 0.5rem;
}

.social {
	display: flex;
	margin: 0.5rem 0;
	justify-content: space-around;
}

.social button:hover {
	cursor: pointer;
}

.social > div {
	text-align: center;
}
/* /.container */
